---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nzbdav-config
  namespace: media
  labels:
    app.kubernetes.io/name: nzbdav
    app.kubernetes.io/instance: nzbdav
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: ceph-block
