---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nzbdav
  namespace: media
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: nzbdav
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      nzbdav:
        pod:
          annotations:
            setGateway: "false"
          securityContext:
#           runAsNonRoot: "false"
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile: { type: RuntimeDefault }
        containers:
          app:
            image:
              repository: ghcr.io/nzbdav-dev/nzbdav
              tag: 0.5.4
            env:
              TZ: ${TIMEZONE}
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 3000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: true
              readOnlyRootFilesystem: false
#             capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
                memory: 150Mi
#             limits:
#               memory: 300Mi
    service:
      app:
        controller: nzbdav
        ports:
          http:
            port: *port

    route:
      app:
        hostnames: ["nzbdav.bharris.xyz"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port


    persistence:
      config:
        existingClaim: nzbdav-config
      cache:
        type: emptyDir
        globalMounts:
          - path: /.npm
      media:
        type: nfs
        server: 10.0.109.29
        path: /volume1/Media/nzbdav
        globalMounts:
          - path: /media
