---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prowlarr
  namespace: organizers
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: sonarr
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  values:
    controllers:
      prowlarr:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          annotations:
            setGateway: "true"
          securityContext:
            runAsNonRoot: true
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile: { type: RuntimeDefault }
        containers:
          app:
            image:
              repository: ghcr.io/bh2754/prowlarr-nightly
              tag: 2.3.2.5251@sha256:3244f7eb368392b7d952be8139150d381e88d6cea6458e73bcf8d5d1db6f703a
            env:
              PROWLARR__APP_INSTANCENAME: Prowlarr
              PROWLARR__PORT: &port 9696
              PROWLARR__AUTH__METHOD: External
              PROWLARR__AUTH__REQUIRED: DisabledForLocalAddresses
#             PROWLARR__APPLICATION_URL: "https://prowlarr.${SECRET_DOMAIN}"
              PROWLARR__LOG__LEVEL: info
            envFrom:
              - secretRef:
                  name: prowlarr-secret

            securityContext:
              allowPrivilegeEscalation: true
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 200m
                memory: 700Mi
    service:
      app:
        controller: prowlarr
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.bharris.vip"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        existingClaim: prowlarr-config
        globalMounts:
          - path: /config
