---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: vpn
components:
  - ../../components/sops
resources:
  - ./namespace.yaml
  # Flux-Kustomizations
  - ./angelnu.yaml
# - ./pod-gateway/ks.yaml
