---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app nzbdav
  namespace: &namespace media
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
#   - name: onepassword-connect
#     namespace: external-secrets
    - name: rook-ceph-cluster
      namespace: rook-ceph
#   - name: volsync
#     namespace: volsync
  path: ./kubernetes/apps/media/nzbdav/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  interval: 30m
  retryInterval: 1m
  timeout: 3m

