---
 apiVersion: helm.toolkit.fluxcd.io/v2
 kind: HelmRelease
 metadata:
   name: &app pod-gateway
   namespace: vpn
 spec:
   interval: 15m
   chart:
     spec:
       chart: pod-gateway
       version: 6.6.1
       sourceRef:
         kind: HelmRepository
         name: angelnu
         namespace: vpn
   maxHistory: 3
   install:
     createNamespace: true
     remediation:
       retries: 3
   upgrade:
     cleanupOnFail: true
     remediation:
       retries: 3
   uninstall:
     keepHistory: false


   values:
     controller:
       annotations:
         reloader.stakater.com/auto: "true"
     image:
       repository: ghcr.io/angelnu/pod-gateway
       tag: v1.12.0@sha256:8b35b9ebe2be4dfdce44934e298ab196bc59dd2a47ec5f62423e6b573ae94a6b
     DNS: 172.16.1.1
     addons:
       netshoot:
         enabled: true
       vpn:
         enabled: true
         type: gluetun
         image:
           repository: ghcr.io/qdm12/gluetun
           tag: v3.40.0@sha256:2b42bfa046757145a5155acece417b65b4443c8033fb88661a8e9dcf7fda5a00
 #          tag: v3.41.0@sha256:6b54856716d0de56e5bb00a77029b0adea57284cf5a466f23aad5979257d3045
         env:
           - name: VPN_TYPE
             value: wireguard
           - name: VPN_INTERFACE
             value: wg0
           - name: VPN_SERVICE_PROVIDER
             value: mullvad
           - name: VPN_TYPE
             value: wireguard
           - name: FIREWALL
             value: "off"
           - name: DOT
             value: "on"
           - name: HEALTH_VPN_DURATION_INITIAL
             value: 30s
           - name: LOG_LEVEL
             value: debug
           - name: VPN_ENDPOINT_PORT
             value: 51820
#           - name: DNS_ADDRESS
#             value: 1.1.1.1
           - name: WIREGUARD_MTU
             value: 1320
           - name: IPTABLES_NFT
             value: "yes"
           - name: PUBLIC_API
             value: cloudflare
          # Configure the container-specific securityContext
         envFrom:
           - secretRef:
               name: mullvad-secret
         securityContext:
           capabilities:
             add:
               - NET_ADMIN
               - NET_RAW
         resources:
           limits:
             squat.ai/tun: "1"
         networkPolicy:
           enabled: true
           egress:
             - to:
                 - ipBlock:
                     cidr: 0.0.0.0/0
               ports:
                 - port: 51820
                   protocol: UDP
             - to:
                 - namespaceSelector: {}
     publicPorts:
       - IP: 10
         hostname: qbittorrent-vpn-0
         ports:
           - port: 56202
             type: udp
           - port: 56202
             type: tcp

     routed_namespaces:
       - downloaders
       - organizers
     settings:
       VPN_INTERFACE: "wg0"
       VXLAN_ID: "43"
       VXLAN_IP_NETWORK: "172.16.1"
       VPN_BLOCK_OTHER_TRAFFIC: "false"
       VPN_TRAFFIC_PORT: "51820"
       VXLAN_GATEWAY_FIRST_DYNAMIC_IP: 20
       DNS_LOCAL_CIDRS: "local"
       NOT_ROUTED_TO_GATEWAY_CIDRS: "10.0.0.0/8 192.168.0.0/16"
       VPN_LOCAL_CIDRS: "10.0.0.0/8 192.168.0.0/16"
       IPTABLES_NFT: "no"

     webhook:
       gatewayDefault: false
       gatewayAnnotation: setGateway
       gatewayLabel: setGateway
       namespaceSelector:
         label: "routed-gateway"
       image:
         repository: ghcr.io/angelnu/gateway-admision-controller
         tag: latest
