---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./config-pvc.yaml
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ./ocirepository.yaml
#  - ./volsync.yaml
# - ../../../../templates/gatus/external
commonLabels:
  app.kubernetes.io/name: radarr
  app.kubernetes.io/instance: radarr
