---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app abs
  namespace: &namespace media
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
#   - name: onepassword-connect
#     namespace: external-secrets
    - name: rook-ceph-cluster
      namespace: rook-ceph
#   - name: volsync
#     namespace: volsync
  path: ./kubernetes/apps/media/audiobookshelf/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  interval: 30m
  retryInterval: 1m
  timeout: 3m

#---
#apiVersion: kustomize.toolkit.fluxcd.io/v1
#kind: Kustomization
#metadata:
#  name: audiobookshelf
#  namespace: flux-system
#  labels:
#    substitution.flux.home.arpa/enabled: "true"
#spec:
#  targetNamespace: &namespace media
#  path: ./kubernetes/apps/media/audiobookshelf/app
#  prune: true
#  commonMetadata:
#    labels:
#      app.kubernetes.io/name: &app abs
#  dependsOn:
#    - name: rook-ceph-cluster
#    - name: onepassword-connect
#    - name: volsync
#  sourceRef:
#    kind: GitRepository
#    name: home-kubernetes
#  healthChecks:
#    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
#      kind: HelmRelease
#      name: audiobookshelf
#      namespace: media
#  interval: 30m
#  retryInterval: 1m
#  timeout: 3m
#  postBuild:
#    substitute:
#      APP: *app
#      NS: *namespace
