---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./ocirepository.yaml
configMapGenerator:
  - name: generic-device-plugin-configmap
    namespace: kube-system
    files:
      - ./configs/config.yaml
generatorOptions:
  disableNameSuffixHash: true
