---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app sabnzbd
  namespace: downloaders
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: sabnzbd
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: onepassword-connect
      namespace: external-secrets
    - name: rook-ceph-cluster
      namespace: rook-ceph
  values:
    controllers:
      sabnzbd:
        annotations:
          reloader.stakater.com/auto: "true"
#        pod:
#          annotations:
#            setGateway: "true"
        initContainers:
          gluetun:
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.41.0
            env:
              DNS_ADDRESS: "192.168.60.1"
              DOT: "off"
              FIREWALL_INPUT_PORTS: 80,8388,9999
              FIREWALL_OUTBOUND_SUBNETS: 10.42.0.0/16,10.43.0.0/16
              FIREWALL_VPN_INPUT_PORTS: "80,8000,9999,8080"
              HEALTH_SERVER_ADDRESS: :9999
              HEALTH_TARGET_ADDRESS: cloudflare.com:443
              VPN_TYPE: wireguard
              VPN_INTERFACE: tun0
              VPN_SERVICE_PROVIDER: mullvad
              WIREGUARD_MTU: 1420
            envFrom:
              - secretRef:
                  name: sabnzbd-vpn-secret
            securityContext:
              runAsUser: 0
              runAsGroup: 0
              runAsNonRoot: false
              capabilities: { add: ["NET_ADMIN"] }
              allowPrivilegeEscalation: true
            resources:
              limits:
                squat.ai/tun: "1"
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 9999
                  periodSeconds: 30
                  failureThreshold: 3
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 9999
                  failureThreshold: 30
                  periodSeconds: 10
        containers:
          app:
            image:
#              repository: ghcr.io/bh2754/sabnzbd
#              tag: 4.5.3@sha256:dde7d698da0e19a2ee742dd9799fd98b58ebece76c9173ad24c80459e84f4c2b
              repository: ghcr.io/home-operations/sabnzbd
              tag: 4.5.5
            env:
              TZ: ${TIMEZONE}
              SABNZBD__PORT: &port 8080
              SABNZBD__HOST_WHITELIST_ENTRIES: >-
                sabnzbd,
                sabnzbd.media,
                sabnzbd.downloaders,
                sabnzbd.downloaders.svc,
                sabnzbd.default.svc,
                sabnzbd.default.svc.cluster,
                sabnzbd.default.svc.cluster.local,
                sabnzbd.bharris.xyz
            envFrom:
            - secretRef:
                name: sabnzbd-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api?mode=version
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                memory: 12Gi
    defaultPodOptions:
      securityContext:
#       runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [10000]
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.bharris.xyz"
        parentRefs:
          - name: envoy-internal
            namespace: network

    persistence:
      config:
        existingClaim: sabnzbd-config-v1
      download:
        type: nfs
        server: 10.0.109.29
        path: /volume1/Download
        globalMounts:
          - path: /download
      logs:
        type: emptyDir
        globalMounts:
          - path: /config/logs
      incomplete:
        type: emptyDir
      media:
        enabled: true
        type: nfs
        server: 10.0.109.29
        path: /volume1/Media
        globalMounts:
          - path: /media

