---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app sabnzbd
  namespace: downloaders
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: sabnzbd
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: onepassword-connect
      namespace: external-secrets
    - name: rook-ceph-cluster
      namespace: rook-ceph
  values:
    controllers:
      sabnzbd:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          wg:
            image:
              repository:  linuxserver/wireguard
              tag: latest
            restartPolicy: Always
            envFrom:
              - secretRef:
                  name: wg-conf
            securityContext:
              privileged: true
#              runAsUser: 0
#              runAsGroup: 0
              runAsNonRoot: false
              capabilities: { add: ["NET_ADMIN"] }
#              allowPrivilegeEscalation: true
        containers:
          app:
            image:
#              repository: ghcr.io/bh2754/sabnzbd
#              tag: 4.5.3@sha256:dde7d698da0e19a2ee742dd9799fd98b58ebece76c9173ad24c80459e84f4c2b
              repository: ghcr.io/home-operations/sabnzbd
              tag: 4.5.5
            env:
              TZ: ${TIMEZONE}
              SABNZBD__PORT: &port 8080
              SABNZBD__HOST_WHITELIST_ENTRIES: >-
                sabnzbd,
                sabnzbd.media,
                sabnzbd.downloaders,
                sabnzbd.downloaders.svc,
                sabnzbd.default.svc,
                sabnzbd.default.svc.cluster,
                sabnzbd.default.svc.cluster.local,
                sabnzbd.bharris.vip
            envFrom:
            - secretRef:
                name: sabnzbd-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api?mode=version
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                memory: 12Gi
    defaultPodOptions:
      securityContext:
#       runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [10000]
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.bharris.vip"
        parentRefs:
          - name: envoy-internal
            namespace: network

    persistence:
      config:
        existingClaim: sabnzbd-config-v1
      download:
        type: nfs
        server: 10.0.109.29
        path: /volume1/Download
        globalMounts:
          - path: /download
      logs:
        type: emptyDir
        globalMounts:
          - path: /config/logs
      incomplete:
        type: emptyDir
      media:
        enabled: true
        type: nfs
        server: 10.0.109.29
        path: /volume1/Media
        globalMounts:
          - path: /media
      wg-conf:
        enabled: true
        type: secret
        name: wg-conf
        globalMounts:
          - path: /config/wg_confs/wg0.conf
            subPath: wg0.conf
            readOnly: true

